@import '../../design/variables';

main {
  .deck {
    .card {
      ul {
        li {
          padding: $space * .5;
        }
        background-color: $tableHead;
      }
      margin-bottom: $space;
      box-sizing: border-box;
      display: block;
      border: solid black 1px;
    }
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  .columns-1 {
    * {
      grid-column: 2;
    }
  }
  height: 100%;
}